[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Ketch Zeng
	email = zengkeqi1999@163.com
[http]
	sslVerify = true

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
	features = woolly-mammoth

[delta "woolly-mammoth"]
    # author: https://github.com/Kr1ss-XD
	# fixed by ketch
    commit-decoration-style = 232 130 box
    commit-style = 232 bold italic 130
    dark = true
	file-added-label = [+]
    file-copied-label = [==]
    file-modified-label = [~]
    file-removed-label = [-]
    file-renamed-label = [->]
	file-decoration-style = none
    file-style = bold
    hunk-header-decoration-style = "#ff9999" overline
    hunk-header-style = syntax bold italic 237
    line-numbers = true
    line-numbers-left-format = "{nm:>1}┊"
    line-numbers-left-style = red
    line-numbers-minus-style = red italic black
    line-numbers-plus-style = green italic black
    line-numbers-right-format = "{np:>1}┊"
    line-numbers-right-style = green
    line-numbers-zero-style = "#545474" italic
    minus-emph-style = syntax bold "#780000"
    minus-style = syntax "#400000"
    plus-emph-style = syntax bold "#007800"
    plus-style = syntax "#004000"
    syntax-theme = Vibrant Sunburst
    whitespace-error-style = "#280050" reverse
    zero-style = syntax
    blame-format = "{author:<18} ({commit:>7}) ┊{timestamp:^16}┊ "
    blame-palette = "#101010 #200020 #002800 #000028 #202000 #280000 #002020 #002800 #202020"

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
